---
layout: layouts/base.njk
title: Home - Mi estupenda web
---
<h1>Esta es mi página web: {{siteData.name}}</h1>
<p>
  Bienvenido a  {{siteData.dominio}}
</p>

<p>
  <a href="/portafolio/">ir a portafolio</a>
</p>